{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<table class="table">
    <theah>
        <tr>
            <th>ticket</th>
            <th>statut</th>
            <th>responsable</th>
            <th style="width=200px">action</th>
        </tr>
    </theah>
    <tbody>
        {% for datas in data %}
        <tr>
            <td>{{ datas.auteur }}</td>
            <td>{{ datas.statut }}</td>
            <td>{{ datas.responsable }}</td>
            <td>
            <div class="d-flex gap-1">
                <a class="btn btn-primary" href="{{ path('ticket.edit',{id:datas.id}) }}">edit</a>
            </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
